body {
    margin: 0;
    background-color: #1B244A;
}
h2 {
    color: #EEEEEE;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home-score, #guest-score {
  font-style: normal;
  font-size: 90px;
  line-height: 147px;
  background-color: #080001;
  color: #F94F6D;
  text-align: center; 
} 

button {
  background-color: #1B244A;
  color: #9AABD8;
  border: 2px solid #9AABD8;
  border-radius: 5px;
  height: 45px;
  width: 45px;
}
